*~
*.#*
*#*#
*.swp
*.ipr
*.iml
*.iws
*.pyc
*.pyo
.idea/
.idea_modules/
build/*.jar
.settings
.cache
cache
.generated-mima*
work/
out/
.DS_Store
third_party/libmesos.so
third_party/libmesos.dylib
build/apache-maven*
build/zinc*
build/scala*
target/
.project
.classpath
.scala_dependencies
logs/
log/
spark-tests.log
streaming-tests.log
dependency-reduced-pom.xml
/lib/
scalastyle.txt
scalastyle-output.xml
